<nav class="pagination" role="navigation">
    {{#if prev}}
        <a class="newer-posts" href="{{page_url prev}}"><span aria-hidden="true">&larr;</span> <i>Newer Posts</i></a>
    {{/if}}
    <span class="page-number">Page {{page}} of {{pages}}</span>
    {{#if next}}
        <a class="older-posts" href="{{page_url next}}"><i>Older Posts</i> <span aria-hidden="true">&rarr;</span></a>
    {{/if}}
</nav>
